@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:root::-webkit-scrollbar {
  width: 0.85rem;
}

:root::-webkit-scrollbar-thumb {
  background: #c2bcbc;
  background-clip: padding-box;
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
  box-shadow: none;
  min-height: 50px;
}

:root::-webkit-scrollbar-track {
  border: 0;
  background-color: #0f0b30;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
}

::-webkit-scrollbar-thumb:active {
  background-color: gray;
}
